body{
    background-color: #000;
}
.avatar{
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 5%;
    border-radius: 50%;
    border: 5px solid #fff;
    display: flex;
}
.button {
    background-color: #000000; 
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid #fff;
    border-radius: 15px;
    width: 30%;
    table-layout: fixed;
    border-collapse: collapse;
  }


  .button:hover {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    box-shadow: 0 12px 16px 0 rgba(255, 255, 255, 0.186),0 17px 50px 0 rgba(255, 255, 255, 0.186);
  }

a{
    text-decoration: none;
}

.bio{
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    text-align: center;
    margin-top: 50px;
}

#footer{
    color: rgb(75, 75, 75);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    position: fixed;
    left: 0;
    bottom: 15px;
    width: 100%;
    text-align: center;

}

@media (max-width: 1080px) {

    .button{
        background-color: #000000; 
    color: rgb(0, 0, 0);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: 2px solid #fff;
    border-radius: 15px;
    width: 15rem;
    table-layout: fixed;
    border-collapse: collapse;
}
.footer{
    width: 15rem;
}
.avatar{
    width: 5rem;
}
}
a{
    color: rgb(120, 120, 120)
}